@font-face {
    font-family: "Junction";
    src: url("../assets/fonts/junction-regular.woff"),
    url("../assets/fonts/junction-regular.eot"),
    url("../assets/fonts/junction-regular.svg"),
    url("../assets/fonts/junction-regular.ttf");
}

.color-primary {
    background-color: #2196f3;
    border-color: #4A148C;
}
.color-primary-transparent {
    background-color: rgba(41, 46, 55, 0.2);
    border-color: #4A148C;
}
.color-accent {
    border-color: #0D47A1 !important;
    color: #fff !important;
}

.color-accent-black {
    border-color: #0D47A1 !important;
    color: #0D47A1 !important;
}

.color-header {
    color: #0D47A1;
}

body {
    padding-top: 76px;
    font-family: Junction, Verdana, Georgia, sans-serif !important;
}

.carousel-item {
    height: 100vh !important;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.carousel-caption {
    bottom: 0 !important;
}

.text-shadow {
    text-shadow: 3px 3px 3px #333;
}

.half-transparent {
    opacity: 0.8;
}

.index-padding-top-override {
    padding-top: 0 !important;
}
